/* Top H1 */
:root {
    text-align: center;
}
h1 {
    text-align: center;
    
}

/* Boxception */
   #Work {  
    
     width: 300px; 
     height: 300px; 
    outline: solid black; 
      padding-top: 100px;   
      /* padding-bottom: 100px; */
     padding-left: 100px;  
     margin-left: 275px;
     margin-top: 50px;
     outline-width: 3px;
    
 } 

 #Div-1 { 
     width: 200px;
     height: 200px;
     outline: solid black;
    /* padding-left: 100px;  */
    /* padding-top: 100px; */
    /* margin-left: 100px; */
    outline-width: 3px;
    align-content: center;
    
 } 

 #Div-2 { 
     height: 100px; 
     width: 100px; 
     outline: solid black; 
     outline-width: 3px;
     margin-left: 50px;
 } 